{% extends 'base.html.twig' %}

{% block title %}Hello! I'm Gon{% endblock %}

{% block body %}
    <!-- Header -->
    <header class="masthead">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">I'm looking for a job.</div>
                <div class="intro-heading text-uppercase">I am a <br>&lt;?<span class="phpTeg">PHP</span> developer.</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Technical Skills</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-server fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Back End Development</h4>
                    <p class="text-muted">PHP,<br>Classic ASP</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">DataBase</h4>
                    <p class="text-muted">Mssql,<br>Mysql</p>
                </div>
                <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-desktop fa-stack-1x fa-inverse"></i>
            </span>
                    <h4 class="service-heading">Front End Development</h4>
                    <p class="text-muted">Java Script,<br>JQuery</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Portfolio</h2>
                    <h3 class="section-subheading text-muted">representation websites still online<br>(I was involved as server-side developer).</h3>
                    <p class="text-muted text-left">
                        I had worked for a lot of short time advertisement event websites.<br>
                        Usually, I made simple web games to make people interested in our advertisement.<br>
                        I had to use a lot of type of Rest API to check joined people is whether real allowed people to join our event. Sometimes, our event joining is just allowed who finished our demands.<br>
                        For example, they should use some network company and the specific type of smartphone.<br>
                        When the event is finished, I had to remove the event web site to protect the personal information of joined people.<br>
                        That is why I can not show you a lot of website which I made.
                    </p>
                </div>
            </div>
            <div class="row addTopPadding">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link"  href="http://dblightec.com" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-link fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/portfolio01.png') }}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="http://dblightec.com" target="_blank">DB Lightec</a></h4>
                        <p class="text-muted">(for PC)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="http://www.enpranishop.com" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-link fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/portfolio02.png') }}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="http://www.enpranishop.com" target="_blank">Enprani</a></h4>
                        <p class="text-muted">(for PC, used Framework)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="http://roaming.kt.com/rental/eng/main.asp" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-link fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/portfolio03.png') }}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="http://roaming.kt.com/rental/eng/main.asp" target="_blank">roaming.kt.com</a></h4>
                        <p class="text-muted">(for PC&Mobile)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="http://globalroaming.kt.com" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-link fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/portfolio04.png') }}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="http://globalroaming.kt.com" target="_blank">KT Roaming</a></h4>
                        <p class="text-muted">(for PC)</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a class="portfolio-link" href="http://eng.poscoenergy.com/eng/renew/_service/main.asp" target="_blank">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-link fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="{{ asset('img/portfolio05.png') }}" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="http://eng.poscoenergy.com/eng/renew/_service/main.asp" target="_blank">Posco Energy</a></h4>
                        <p class="text-muted">(for PC)</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Work Experience</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/story05.png') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>02.2008-09.2016</h4>
                                    <h4 class="subheading">Nexbrain</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Integrated marketing communication company, <br>Position : Deputy Manager of Infra Team(Web developer),<br> Main Task : Developing websites, developing on-offline marketing tool by web server,<br> Website:<a href="http://www.nexbrain.com" target="_blank">nexbrain.com</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/story02.png') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>08.2004 – 02.2006</h4>
                                    <h4 class="subheading">Migam communication</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Web agency company,<br>Position : Assistant Manager of Web Development Team, Main Task : Developing websites</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/story03-1.jpg') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>06.2003 – 03.2004</h4>
                                    <h4 class="subheading">Seoul Education Culture Institution</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Teachers supplying and recruiting company, <br>Position : Assistant Manager of Service Team, <br> Main Task : Developing recruiting information manager system</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/story04.png') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2002</h4>
                                    <h4 class="subheading">Graduation University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dongguk University(<a href="http://www.dongguk.edu/mbs/en/index.jsp" target="_blank">dongguk.edu</a>),<br>Bachelor of Science in Enginnering in Mechanical Engineering, <br>Certificate : Sun Certified Programmer for Java</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="rounded-circle img-fluid" src="{{ asset('img/story03.png') }}" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>10.2000 – 03.2001</h4>
                                    <h4 class="subheading">Eporin.com</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Marriage internet live broadcasting company, <br>Position : Assistant Manager of Planning Team, <br> Main Task : Planning websites</p>
                                </div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><br>My Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">About This Site</h2>
                    <h3 class="section-subheading text-muted">&nbsp;</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <img src="{{ asset('img/dgon_eu.png') }}" class="img-fluid mx-auto d-block" alt="Responsive image">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <p class="large text-muted addTopPadding">I made this website alone, but I used a Bootstrap free theme because I am not a graphic designer.</p>
                    <p class="large text-muted addTopPadding">Github : <a href="https://github.com/DeuklyoungKo/ci" target="_blank">https://github.com/DeuklyoungKo/ci</a></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contact Me</h2>
                    <p class="text-white text-muted text-left">
                        I live in Berlin now.<br>
                        Nowadays, I try to get a job as PHP developer in German.<br>
                        If you are interested in me, please, send email or text or call me.<br>
                        But I am afraid of that I cannot speak Germany.<br><br>
                        Email: <a href="mailto:DeutschGon@gmail.com">DeutschGon@gmail.com</a><br>
                        Phone: +49 177 709 3335
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <?php echo validation_errors(); ?>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" id="name" name="name" type="text" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name." value="<?php echo set_value('name'); ?>">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="email" name="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address." value="<?php echo set_value('email'); ?>">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="phone" name="phone" type="tel" placeholder="Your Phone" value="<?php echo set_value('phone'); ?>">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" id="message" name="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message."><?php echo set_value('message'); ?></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
